<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Completed</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="projectsData | async as query">
      <mat-card
        class="card"
        *ngFor="let project of query.data?.completedProjects"
      >
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ project.text }}
        </mat-card-content>
        <mat-card-actions>
          <app-delete-button
            [projectId]="project.id"
            (projectDeleted)="this.refetch()"
          ></app-delete-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
